WarningsAsErrors: 'readability-isolate-declaration,cppcoreguidelines-init-variables'
Checks: >-
  -*,
  bugprone-use-after-move,
  bugprone-dangling-handle,
  modernize-use-nullptr,
  modernize-use-override,
  performance-unnecessary-copy-initialization,
  readability-const-return-type,
  cppcoreguidelines-init-variables,
  misc-non-private-member-variables-in-classes
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '.*/submodules/.*|.*/_deps/.*'
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 'true'
