WarningsAsErrors: '*'
Checks: >-
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-misleading-capture-default-by-value,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '.*/submodules/.*|.*/_deps/.*|.*/build[^/]*/.*|.*/generated/.*'
FormatStyle: none
CheckOptions:
  - key: cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 'true'
