[submodule "c++/submodules/yas"]
	path = c++/submodules/yas
	url = https://github.com/edwardbr/yas.git
[submodule "c++/submodules/fmt"]
	path = c++/submodules/fmt
	url = https://github.com/edwardbr/fmt.git
[submodule "submodules/idlparser"]
	path = submodules/idlparser
	url = https://github.com/edwardbr/idlparser.git
[submodule "c++/submodules/googletest"]
	path = c++/submodules/googletest
	url = https://github.com/google/googletest.git
	update = none
	shallow = true
[submodule "c++/submodules/spdlog"]
	path = c++/submodules/spdlog
	url = https://github.com/gabime/spdlog.git
	shallow = true
[submodule "c++/submodules/args"]
	path = c++/submodules/args
	url = https://github.com/edwardbr/args.git
[submodule "c++/submodules/libcoro_for_enclaves"]
	path = c++/submodules/libcoro_for_enclaves
	url = https://github.com/edwardbr/libcoro.git
	update = none
[submodule "c++/submodules/libcoro"]
	path = c++/submodules/libcoro
	url = https://github.com/jbaldwin/libcoro.git
	update = none
	shallow = true
[submodule "c++/submodules/c-ares"]
	path = c++/submodules/c-ares
	url = https://github.com/c-ares/c-ares.git
	update = none
	shallow = true
[submodule "c++/submodules/json"]
	path = c++/submodules/json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "c++/submodules/json-schema-validator"]
	path = c++/submodules/json-schema-validator
	url = https://github.com/pboettch/json-schema-validator.git
	shallow = true
[submodule "submodules/protobuf"]
	path = submodules/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
	update = none
	shallow = true
[submodule "c++/submodules/wslay"]
	path = c++/submodules/wslay
	url = https://github.com/tatsuhiro-t/wslay.git
	update = none
	shallow = true
[submodule "c++/submodules/llhttp"]
	path = c++/submodules/llhttp
	url = https://github.com/nodejs/llhttp.git
	update = none
	shallow = true

[submodule "c++/submodules/llama.cpp"]
	path = c++/submodules/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
	update = none
	shallow = true
